
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

:root{
    --cyan: #2C3E50;
    --grey: #888888;
    --green: #1ABC9C;
    --lightcyan: #3A546D;
}

.flp-bgcg{
    background-color: var(--green);
    border: 0px;
    width: 100px;
    height: 60px;
}

a{
    text-decoration: none;
}

.flp-colg{
    color: var(--green);
}

.flp-color-1{
    color: var(--cyan);
}

.flp-color1c{
    background-color: var(--lightcyan);
}

.flp-bg-1{
    background-color: var(--cyan);
}

.height1{
    min-height: 90px;
}

.bkgh{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 50;
}

.flp-flex{
    display: flex;
}

.flp-font0b{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.flp-font0c{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.flp-font0{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.flp-font1{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.flp-font1b{
    font-size: 30px;
}

.flp-font2b{
    font-size: 20px;
}

.flp-font1c{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.flp-font2{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.flp-font3{
    font-size: 25px;
    font-weight: 500;
 
}

.flp-font4{
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.brdr{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px 8px;
    font-size: 25px;
    color: var(--grey);
}

main{
    margin-top: 90px;
}

.flp-pdnb{
    margin-top: 30px;
}

.flp-pdnb2{
    padding: 30px 0px;
}

.flp-pdn{
    padding: 50px 0px;
}

.flp-pdn2{
    padding: 40px 100px;
}

.flp-pdn2b{
    padding: 50px 40px;
}

.flp-color1{
    background-color: var(--green);
    padding-bottom: 40px;
}

.flp-color1b{
    background-color: var(--green);
}

.flp-line{
    width: 40%;
    height: 5px;
    border-radius: 5px;
}

.flp-mrg1{
    padding-top: 50px;
}

.flp-rad{
    border-radius: 10px;
}

.flp-w{
    width: 100%;
}

.flp-mod{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    border-bottom: 1px solid var(--cyan);
}

.flp-roudedbr{
    width: 43px;
    height: 43px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.mrg0a{
    margin: 0 auto;
}
